@charset "utf-8";
*{
    margin:0;
    padding:0;
    font-size:14px;
}
a,div,img{
    border:none;
}
table{
    margin-left:auto;
    margin-right:auto;
}
body{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:600px;
    font-family:'Microsoft YaHei',Arial,sans-serif;
    color:#25450d;
}
hr{
    color:#25450d;
}
a{
    text-decoration:none;
    text-align:left;
    font-weight:bold;
    color:#25450d;
}
ul,li{
    list-style-type:none;
    list-style-position:outside;
    padding-left:0px;
    padding-right:0px;
}
#top{
    margin-top:0px;
    margin-bottom:0px;
    padding-bottom:0px;
    width:600px;
    height:90px;
}
#menu{
    width:600px;
    height:40px;
}
.bar, .bar ul li{
    width:150px;
    height:40px;
    float:left;
    background-image:url(bars.jpg);
    background-position:0px 0px;
}
.bar:hover, .bar ul li:hover{
    background-image:url(bars.jpg);
    background-position:-150px 0px;
}
.bar ul{
    display:none;
    position:absolute;
}
.bar ul li{
    float:none;
}
.bar a{
    padding-top:5px;
    padding-left:10px;
    height:35px;
    font-size:20px;
    display:block;
}
.bar ul li a{
    font-size:16px;
    float:none;
    padding-top:8px;
}
#main{
    width:600px;
    margin-top:0px;
    padding-top:0px;
    font-size:14px;
    background-image:url(bg.jpg);
    background-repeat:repeat-y;
    background-position:top center;
}
.content{
    margin-left:20px;
    font-size:16px;
    text-align:left;
}
.content a{
    font-size:16px;
}
#bottom{
    font-size:12px;
    vertical-align:top;
}
#bottom img{
    vertical-align:top;
}
