A {
	TEXT-TRANSFORM: none; TEXT-DECORATION: none
}
A:hover {
	COLOR: #F00;
	TEXT-DECORATION: underline
}
A.s {
	TEXT-TRANSFORM: none; COLOR: black; TEXT-DECORATION: none
}
A.s:hover {
	COLOR: white; TEXT-DECORATION: none
}
A.s0 {
	FONT-WEIGHT: bold; TEXT-TRANSFORM: none; COLOR: #ffff99; TEXT-DECORATION: none
}
A.s0:hover {
	FONT-WEIGHT: bold; COLOR: #ffff99; TEXT-DECORATION: underline
}
A.t {
	COLOR: #ffff66; TEXT-DECORATION: none
}
A.t:hover {
	COLOR: #ffff66; TEXT-DECORATION: underline
}
A.x {
	FONT-WEIGHT: bold; COLOR: white; TEXT-DECORATION: none
}
A.x:hover {
	FONT-WEIGHT: bold; COLOR: #ffff66; TEXT-DECORATION: underline
}
A.bt {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: blue; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 20px
}
A.bt:hover {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: #999 1px solid; CURSOR: hand; COLOR: #000066; PADDING-TOP: 1px; BORDER-BOTTOM: #999 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #e6e6e6; TEXT-DECORATION: none
}
DIV.sd1 {
	LEFT: 0px; POSITION: absolute
}
DIV.sd2 {
	RIGHT: 0px; POSITION: absolute
}
DIV.ptt {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: blue; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: center
}
DIV.plm {
	FONT-SIZE: 12pt; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: center
}
DIV.ptx {
	FONT-SIZE: 12pt; FONT-FAMILY: "Times New Roman",Times,serif
}
P.pst {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: blue; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
PRE.sio {
	FONT-SIZE: 12pt; FONT-FAMILY: Courier New,Courier,monospace
}
TH.h {
	WIDTH: 20%;
	COLOR: #00F;
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD.h {
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}
TH.in {
	FONT-WEIGHT: bold; BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; COLOR: #ffffff; BORDER-TOP-COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #6589d1; TEXT-ALIGN: center; BORDER-RIGHT-COLOR: #ffffff
}
TABLE.a {
	BACKGROUND-IMAGE: url(images/table_back.jpg); FONT-FAMILY: "Times New Roman", Times, serif; BORDER-COLLAPSE: collapse
}
TABLE.h1 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 100%; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #becef1; BORDER-RIGHT-WIDTH: 0px
}
TABLE.h2 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(images/bar.jpg) repeat-y; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 100%; BORDER-RIGHT-WIDTH: 0px
}
TR.in {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #6589d1; TEXT-ALIGN: center
}
TR.h {
	VERTICAL-ALIGN: top; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #6589d1
}
SPAN.b1 {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #6589d1
}
SPAN.b2 {
	FONT-SIZE: x-small; COLOR: gray
}
SPAN.n1 {
	FONT-SIZE: x-small; COLOR: red
}
UL.v {
	FILTER: Alpha(opacity=100); OVERFLOW: hidden
}
TABLE.survey {
	FONT-FAMILY: "Times New Roman", Times, serif; BORDER-COLLAPSE: collapse
}
.stdft {
	FONT-FAMILY: "Times New Roman", Times, serif
}
SPAN.h_txt {
	COLOR: blue
}
SPAN.h_award {
	COLOR: red
}
SPAN.h_nocontest {
	COLOR: #1a5cc8
}
SPAN.h_contest {
	COLOR: red
}
.h p {
	font-size: 24px;
	color: #00F;
}
#tb_title {
	font-size: 24px;
	color: #00F;
}
.index_context {
	font-family: "Courier New", Courier, monospace;
}
.index_context {
	font-family: Arial, Helvetica, sans-serif;
	color: #00F;
}
.index_context .index_context {
	color: #000;
}
#ACM_team {
	color: #F00;
}
